h1 {
    margin: 0px;
    font-size: 18vw;
}

h2 {
    margin: 0px;
    font-size: 4vw;
}

h4 {
    margin: 0px;
    font-size: 2vw;
}

#textInfo {
    /* Asignamos el area que va a ocupar el texto */
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}