/* Formato de la barra de progreso */

#memoryBar {
    border-radius: 1vh;
    border: 4px solid white;
    background-color: white;
    mix-blend-mode: soft-light;
    width: 50%;
    height: 30px;
}


/* Separación menu búsqueda */

.menuSpacing {
    margin: 0px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #515151;
}


/* Da forma al seleccionar la pestaña del tipo de fichero a buscar */

.shadowForm {
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
}


/* Por defecto el texto es el que estará seleccionado 
Dar más opacidad al elemento seleccionado */

#textShadow {
    background-color: rgba(255, 255, 255, 0.3);
}

#contentImage {
    display: none;
}

.dataContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 90%;
    /* background-color: blue; */
}

.fileItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    margin: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.527);
}

.textContentDiv {
    margin-top: 8px;
    margin-left: 8px;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
}

.textFormat {
    font-size: 10px;
    color: rgb(32, 32, 32);
    text-align: left;
    margin: 5px;
}

.iconFormat {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.textTitle {
    margin: 7px;
    font-size: 15px;
    font-weight: bold;
}

.InfoContentDiv {
    margin-top: 8px;
    width: 90%;
    height: 80%;
    text-align: left;
}

.dataContent {
    margin: 5px;
    margin-left: 10px;
    font-size: 15px;
    text-justify: auto;
    color: rgb(32, 32, 32);
}

.ImageContentDiv {
    margin-top: 8px;
    margin-left: 8px;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxBorder {
    width: 112px;
    height: 112px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 12px;
    height: 12px;
    border: 1px solid black;
}

#file1Info {
    display: none;
}

#image1Info {
    display: none;
}